#loading {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1001;
	margin-left: -50px;
	margin-top: -50px;
	overflow: hidden;

	visibility: hidden;
	opacity: 0;
	transition: visibility 0s .2s, opacity .2s linear;
}

#loading.visible {
	visibility: visible;
	opacity: 1;
	transition: opacity .2s linear;
}

#loading .spinner {
	border: 10px solid #202020;
    border-top: 10px solid #00FBE8;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1.5s linear infinite;
}

#loading p {
	position: absolute;
	top:50%;
	margin:0;
	width: 100%;
	text-align:center;
	transform: translateY(-50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

