@font-face {
	font-family: 'Moon';
	src: url('fonts/MoonBold.woff2') format('woff2'),
		 url('fonts/MoonBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Moon';
	src: url('fonts/MoonLight.woff2') format('woff2'),
		 url('fonts/MoonLight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Titillium';
	src: url('fonts/Titillium-Bold.woff2') format('woff2'),
		 url('fonts/Titillium-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Titillium';
	src: url('fonts/Titillium-Regular.woff2') format('woff2'),
		 url('fonts/Titillium-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

* {
	box-sizing: border-box;
}

html, body {
	position: relative;
	z-index: -2;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;

	background: black;
	color: white;
	font-family: Titillium, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Moon, sans-serif;
}

h1 {
	margin: 0;
	color: #00FBE8;
	font-size: 7vmin;
}

h2 {
	margin-top: 0;
	color: #00FBE8;
	font-size: 3.5vmin;
}

header, footer, section, nav, article, aside {
	padding: 0;
	margin: 0;
}

a > img {
	display: inline-block;
}

/* Loading spinner */
#loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	overflow: hidden;

	visibility: hidden;
	opacity: 0;
	transition: visibility 0s .2s, opacity .2s linear;
	pointer-events: none;
}

#loader.loading {
	visibility: visible;
	opacity: 1;
	transition: opacity .2s linear;
}

#loader .spinner {
	border: 10px solid #202020;
    border-top: 10px solid #00FBE8;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1.5s linear infinite;
}

#loader p {
	position: absolute;
	top:50%;
	margin:0;
	width: 100%;
	text-align:center;
	transform: translateY(-50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Pages */
#pages {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

#pages a {
	pointer-events: auto;
}

#pages > section {
	display: none;
}

body[data-page="landing"] #page-landing {
	display: block;
}

body[data-page=""] #branding,
body[data-page=""] #navigation,
body[data-page="landing"] #branding,
body[data-page="landing"] #navigation {
	display: none;
}

body[data-page="breathing"] #page-breathing {
	display: block;
}

body[data-page="breathing-gas-exchange"] #page-breathing-gas-exchange {
	display: block;
}

body[data-page="asthma"] #page-asthma {
	display: block;
}

body[data-page="asthma-lung-function"] #page-asthma-lung-function {
	display: block;
}

body[data-page="smoking"] #page-smoking {
	display: block;
}

body[data-page="smoking-interactive"] #page-smoking-interactive {
	display: block;
}

/* Elements */
#branding {
	position: absolute;
	bottom: 0;
	background: white;
	width: 204px;
	padding: 2px;
	font-size: 0; /* hack to remove whitespace */
}

#logo-turanga,
#logo-medtech {
	width: 100px;
}

#navigation {
	position: absolute;
	right: 1vmin;
	bottom: 1vmin;
	width: 32%;

	display: flex;
	justify-content: space-between;
}

#navigation > a {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: pointer;
	width: 16vmin;
	height: 16vmin;
}

#navigation > a.breathing {
	background-image: url(images/breathing.svg);
}

#navigation > a.asthma {
	background-image: url(images/asthma.svg);
}

#navigation > a.smoking {
	background-image: url(images/smoking.svg);
}

#toggle-information {
	position: absolute;
	bottom: 1vmin;
	left: 1vmin;
	display: inline-block;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: pointer;
	width: 12vmin;
	height: 12vmin;
	background-image: url(images/information.svg);
}

#renderer {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

article {
	visibility: visible;
	opacity: 1;
	transition: opacity .2s linear;
}

article.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s .2s, opacity .2s linear;
}

article.left {
	position: absolute;
	width: 30%;
	margin: 1vmin;
}

article.right {
	position: absolute;
	right: 0;
	width: 30%;
	margin: 1vmin;
}

.nav-button {
	display: block;
	background-image: url(images/question.svg);
    background-repeat: no-repeat;
	background-position: left center;
	padding-left: 14vmin;
	height: 13vmin;

	display: flex;
	align-items: center;
	text-decoration: none;
	color: white;
}

.control-panel {
	display: flex;
	flex-wrap: wrap;
}

.control-panel > div {
	width: 50%;
	height: 50%;

	display: flex;
	align-items: center;
}

#age-control,
#height-control {
	justify-content: flex-end;
}

.control-panel > div > p {
	margin: 0 1vmin;
}

.control-button {
	display: block;
    background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 10vmin;
	height: 18vmin;
	margin: 0.5vmin;
}

#age-control .control-button {
	background-image: url(images/control_yellow.svg);
}

#height-control .control-button {
	background-image: url(images/control_green.svg);
	font-size: 80%;
}

#gender-control .control-button {
	background-image: url(images/control_blue_mf.svg);
}

#fev-control .control-button {
	background-image: url(images/control_blue.svg);
}

.control-button div.button {
	cursor: pointer;
	pointer-events: auto;
	height: 5vmin;
}

.control-button div.value {
	height: 8vmin;
	color: #4A4A5B;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#page-landing {
	color: grey;
	font-size: 7vmin;
	white-space: nowrap;
	line-height: 1;
}

#page-landing .start {
	position: absolute;
	bottom: 3%;
	height: 16vmin;
	width: 35%;
}

#page-landing .info {
	position: absolute;
	right: 0;
	bottom: 3%;
	height: 16vmin;
	width: 50%;
}

#page-landing strong {
	font-family: Moon;
}

#page-landing a {
	text-decoration: none;
	color: grey;
}

#page-landing img {
	float: left;
	height: 100%;
	padding-right: 0.5em;
}

#asthma-conditions,
#smoking-packs {
	position: absolute;
	bottom: 5%;
	left: 30%;
	width: 35%;

	display: flex;
	justify-content: space-between;
}

#asthma-conditions > a,
#smoking-packs > a {
	background-image: url(images/button_grey.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: pointer;
	width: 13vmin;
	height: 13vmin;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	text-decoration: none;
	color: white;
}

body[data-severity="mild"] #asthma-conditions > a.mild,
body[data-severity="mild"] #smoking-packs > a.mild {
	background-image: url(images/button_green.svg);
}

body[data-severity="moderate"] #asthma-conditions > a.moderate,
body[data-severity="moderate"] #smoking-packs > a.moderate {
	background-image: url(images/button_yellow.svg);
}

body[data-severity="severe"] #asthma-conditions > a.severe,
body[data-severity="severe"] #smoking-packs > a.severe {
	background-image: url(images/button_pink.svg);
}

/* Graphs */
.plot svg {
	display: block;
	width: 100%;
	height: 100%;
}

.plot svg .data {
	fill: none;
	stroke: orange;
	stroke-width: 3;
}

.plot svg .background {
	fill: #00000080;
}

.plot svg .axes {
	fill: none;
	stroke: white;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.plot svg .xlabel,
.plot svg .ylabel {
	fill: white;
	text-anchor: middle;
}

.plot svg .xlabel {
	transform: translate(0, 1em);
}

.plot svg .ylabel {
	transform: rotate(-90deg) translate(0, -0.5em);
}

.plot svg .marker {
	fill: none;
	stroke: red;
	stroke-width: 4px;
}
