body {
	pointer-events: auto;
	background-color: black;
	color: white;
	font-family: moon, titillium;
}

html, body, section {
/*	width: 100%; */
	height: 100%;
	margin: 0px;
}

h1 {
    font-family: moon;
}

p {
    font-family: titillium;
}

header, footer, section,
nav, article, aside {
/*	border: 1px solid black;*/
	padding: 0.0em;
	margin: 0.0em;
/*	border-radius: 0.25em;*/
}

.PointerCursor {
	cursor: pointer;
}

.AlmostFullSize {
	width: 99%;
	height: 99%;
}

.Level3 {
	z-index: 3;
}
.CentreText {
	text-align: center;
}

.TextAlignRight {
	text-align: right;
}

.InlineBlock {
	display: inline-block;
}

.VerticalAlignMiddle {
	vertical-align: middle;
}

#zinc_window {
	z-index: 1;
}

.Expand {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
}

/* items flex/expand vertically */
.VBox {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

/* items flex/expand horizontally */
.HBox {
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

/*
.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	font-weight: bold;
	text-align: center;
}

.flex-container > * {
	padding: 10px;
	flex: 1 100%;
}
*/
/*
.main {
	text-align: left;
	background: cornflowerblue;
}
*/
/*
.aside-content {
	flex-grow: 1;
}
*/
.FixEnd {
	align-self: flex-end;
}

article {
	-webkit-flex: 3;
	-moz-flex: 3;
	-ms-flex: 3;
	flex: 3;
}

aside, nav {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.FlexGrow {
	flex-grow: 1;
}

@media all and (max-width: 800px) {
	section {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	nav {order: 2;}
	article {order: 1;}
}

@media all and (min-width: 800px) {
	/* .main	 { flex: 3 3 0px; } */
	section {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	nav { flex: 1 1 0px;}
	aside { flex: 1 1 0px;}
	header {order: 0;}
	nav {order: 1;}
	aside { order: 2; }
	article {order: 3;}
/*			.main	 { order: 2; } */
	section { order: 2; }
	footer	 { order: 4; }
}
